<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
</head>
<style>
    *{
        padding: 0%;
        margin: 0%;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(207, 207, 211);
        padding: 10px 50px;
    }
</style>
<body>
    <header>
        <h2>MY Website</h2>
        <ul>
       <li> <a href="/home">home</a></li>
        <li><a href="/about">jadwal</a></li>
        <li><a href="/products">Data diri</a></li>
        <li><a href="/home">home</a></li>
        </ul>
    </header>
    <center>
        <table border="" style="margin-top: auto;">
        <tr>
            <td>Nama</td>
            <td>Raihan gozali putra</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>2022020100038</td>
        </tr>
        <tr>
            <td>kelas</td>
            <td>D</td>
        </tr>
        </table>
    </center>
</body>
</html>